@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    font-family: 'Nanum Gothic', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
/* -------------------------------------------------------------------
 * ## content boxes (credit: Frank Tielemans)
 * ------------------------------------------------------------------- */
 :root {
    /* Color of the background */
      --bodycolor: #efefef;

    /* Width of the columsn */
    --boxwidth: 400px;
    /* Height of the rows */
    --boxheight: 520px;

    /* Width of the bubble (it's always a circle, width and height are the same) */
     --icon-box-dimensions: 250px;
      
    /* DON'T TOUCH THE VALUES OF THIS VARIABLE! */
     --icon-box-dimensions-half: calc(var(--icon-box-dimensions) /2);
      /*--------------------*/
      
    /* How far from the top is the position of the bubble? */
      --icon-offset: 10%;
      
    /* Size of the font */
      --content-fontsize: 1.1em;

    /* Define a accent color, make sure it's readable */
      --accentcolor: #5b93b0;
      
    /* backgroundcolor and text color of the button, unhovered.
    /* Color in hovered state is the accent color */ */
      --btntext-background : rgba(255,255,255,0.1);
      --btntext-color : #eee;
}
 .container{
    margin: 0 auto;
    padding: 2%;
    max-width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--boxwidth), 1fr));
    grid-auto-rows: minmax(var(--boxheight), 1fr);
    grid-gap: 30px;
    justify-content: center;
    box-sizing: border-box;
 }

.box{
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background: #efefef;
    transition: 0.5s;
 }

.box:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.img-box {
    position: absolute;
    object-fit: cover;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.35s cubic-bezier(.15,.78,.46,.8);
    z-index: 1;
}

.img-box img {
  object-fit: cover;
  width: 100%; height: 100%;
  transition: all .5s ease-in-out;
}

.img-box::before {
  position: absolute;
  content: attr(data-author);
  bottom: 2.5%;
  font-weight: 400;
  color: white;
  z-index: 2001;
  text-align: center;
  width: 100%;
  color:var(--accentcolor);
    font-variant: small-caps;
  text-transform: lowercase;
  font-size: 0.8em;
  opacity: 1;
}

.img-box::after {
    content: attr(title);
    font-family:'Nanum Gothic', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 111%;
    z-index: 100;
    text-align:center;
    font-size: 1.5em;
    font-weight: 700;
    width:250%;
    opacity: 1;
    height: 45.5%;
    padding-top: 27px;
    background: #efefef;
    transition: 0.2s;
    color: #666;
    letter-spacing: -.6px;
}


.container .box:hover .img-box {

  top: var(--icon-offset);
  left: calc(50% - var(--icon-box-dimensions-half));
  width: var(--icon-box-dimensions);
  height: var(--icon-box-dimensions);


}
.container .box:hover .img-box:after, .container .box:hover .img-box:before
{
  opacity: 0;
}



.container .box:hover .img-box img {
  border: 2px solid white;
  border-radius: 50%;
  filter: saturate(70%) contrast(120%);
}

.box:hover .content {
  bottom: 0;
  opacity: 1;
  transform: scale(1);
}   


.content {
  position: absolute;
  opacity: 1;
  top: 55%;
  bottom: -50%;
  width: 85%;
  height: 60%;
  padding: 3em;
  font-size: 0.8em;
/*  text-align: center;*/
  line-height: 1.4;
  transition: bottom 0.35s cubic-bezier(.15,.78,.46,.8), transform 0.3s;
  color: #000;
  opacity: 0;
  
}

.content h2 {
  position: relative;
  font-size: 1.4em;
  font-weight: 700;
}


.content h3 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.5em;
  
}

.content p {
  font-size: var(--content-fontsize);
  font-weight: 100;
}  

button.ghost-btn {
  position: absolute;
  z-index: 10;
  margin-top: 1em;
  text-align: center;
  border: 0;
  border-radius: 24px;
 padding: 8px 38px;
 background: var(--btntext-background);
  color: var(--accentcolor);
  border: 1px solid var(--accentcolor);
  font-weight: 100;
  transition: 1s;
  font-size: 0.8em;
  bottom:5%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

button.ghost-btn:hover {
  cursor: pointer;
    background: var(--accentcolor);
  color: var(--btntext-color);
 
}

@media screen and (min-width:600px) {
  
  :root {
--boxheight: 520px;
  }
  
}

/* -------------------------------------------------------------------
 * ## links
 * ------------------------------------------------------------------- */
a {
    color: #5b93b0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
}

a:hover, a:focus, a:active {
    color: #375d70;
}

a:hover, a:active {
    outline: 0;
}

/* -------------------------------------------------------------------
 * ## headers
 * ------------------------------------------------------------------- */

h1 {
    font-size:25px;
    color: #4d4f52;
}
h4 {
    font-size:14px;
    color: #4d4f52;
    line-height: 1.5;
}

/* -------------------------------------------------------------------
 * ## loading icon
 * ------------------------------------------------------------------- */

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.4s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #5b93b0;
    border-bottom:12px solid #fff;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* -------------------------------------------------------------------
 * ## header with buttons
 * ------------------------------------------------------------------- */

header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    background:transparent;
    color:#fff;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}

/* -------------------------------------------------------------------
 * ## classes
 * ------------------------------------------------------------------- */
#navigation {
    width:80%;
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color: #5b93b0;
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#navigation {
    text-align:right;
}
#navigation a {
    color:inherit;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.4s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}
#top_part {
    width:100%;
    border:2vh solid #fff;
}
#top_part tr td{
    width:50%;
}
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:#5b93b0;
    font-size:23px;
    padding:12px 17px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    margin:0px 8px;
}
.social:hover { 
    cursor: pointer;
    color:#fff;
    background:#5b93b0;
    box-shadow:0px 10px 30px rgba(55, 93, 112,0.8);
}
.btn_one {
    font-size:18px;
    font-family: 'Nanum Gothic', sans-serif;
    color:#5b93b0;
    background:#fff;
    border:3px solid #375d70;
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(55, 93, 112, 0.8);
    cursor:pointer;
    color:#fff;
    background:#5b93b0;
}
#rightImage {
    width:100%;
    height:95vh;
    background: linear-gradient(0deg,rgba(55, 93, 112, 0.3),rgba(55, 93, 112, 0.7)), center center;
    background-size:cover;
    background-repeat:no-repeat;
}

#rightImage img {
    display: block;
    width: 625px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#project {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#project h1 {
    padding:5px 0px;
    border-bottom:4px solid #375d70;
    width:7.5%;
}
#photoprojects {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
    text-align: center
}
#photoprojects h1 {
    padding:5px 0px;
    width:100%;
    text-align: center
}
#photos {
    width:100%;
    columns:3;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
}
#photos img {
    width:100%;
    height:auto;
    margin:4.5% 0px;
    transition:0.4s ease-in-out;
}
#photos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#research {
    width:92vw;
    padding:6vh 4vw;
}
#research h1 {
    padding:5px 0px;
    border-bottom:4px solid #375d70;
    width:9%;
}
#research strong {
    color:#1179ad;
    font-weight: bold;
    font-size: 18.5px;
}
#bio {
    width:92vw;
    padding:6vh 4vw;
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid #375d70;
    width:22.5%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
}
#address {
    position:relative;
    top:-25px;
    left:30px;
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
}
#footer a {
    color:#375d70;
    text-decoration:none;
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}

@media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(55, 93, 112, 0.8);
    background:rgb(255, 44, 90);
    color:#fff;
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(55, 93, 112, 0.8);
        cursor:pointer;
    }
    #project h1 {
        width:19%;
    }
    #bio h1 {
        width:25%;
    }
    #research h1  {
        width:20%;
    }
    header {
        width:96vw;
        background:#fff;
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        color:#000;
    }
}
@media only screen and (max-width: 480px){
    #photos {
        columns:1;
        column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:60vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:2vh;
    }
    #about table tr td {
        text-align:center;
    }
    #about h1{
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
    }
    #about h4{
        font-size: 12px;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .social {
        font-size:15px;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(55, 93, 112, 0.8);
    background:rgb(255, 44, 90);
    color:#fff;
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(55, 93, 112, 0.8);
        cursor:pointer;
    }
    #project h1 {
        font-size:20px;
        width:19%;
    }
    #bio h1 {
        font-size:20px;
        width:25%;
    }
    #research h1  {
        font-size:20px;
        width:20%;
    }
    #research h2  {
        font-size: 18px;
    }
    #research p, strong  {
        font-size: 15px;
    }
    header {
        width:96vw;
        background:#fff;
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation {
        text-align:center;
    }
    #navigation a {
        color:#000;
        padding:10px 10px;
    }
}